.container1,.container2,.container3,.container4 {
    height: 500px;
}

.container1 {
    background-color: red;
}

.container2 {
    background-color: green;
}

.container3 {
    background-color: yellow;
}

.container4 {
    background-color: brown;
}

.to-top {
    background-color: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
